.root {
    width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 150px auto;
    @media only screen and (max-width: 800px) {
      padding: 30px;
      width: 350px;
    }
  }
  
  .field {
    margin-bottom: 20px !important;
  }
  
  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }