$blue: #4361ee;

.root {
    display: flex;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 17px;
}

.avatar {
    margin-right: 15px;
}

.form {
    width: 100%;

    button {
        margin-top: 10px;
    }
}

.listItem {
        &:hover {
        .editButtons {
            opacity: 1;
        }
    }
}
.editButtons {
    position: absolute;
    right: 15px;
    top: 22px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}